# your domain, e.g https://example.com
JWT_TOKEN_EXPIRES_IN=30d
AWS_S3_SECRET_ACCESS_KEY=
AWS_S3_ENDPOINT=
# default: 50mb
MAIL_FROM_NAME=Docmost
# SMTP driver config
SMTP_PORT=587
SMTP_USERNAME=
SMTP_IGNORETLS=false
POSTMARK_TOKEN=

# for custom drawio server